.progress{
    position: relative;
}
.bar{
    width: 0;
    background: #7980DF; 
    height: 100%;
    transition: width .6s ease;
    position: absolute;
    top:0px;
}
.percent{
    position: absolute;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}