.bg-blue-facebook{
  color: #fff;
  background-color:#355ff9;
}
.bg-red{
  color: #fff;
  background-color:#c32323;
}
.bg-gray{
  color: #fff;
  background-color:#545454;
}
.bg-blue-black{
  color: #fff;
  background-color:#142161;
}
.label-md{
   font-size: 13px;
}