.be-radio-icon input[type="radio"]:checked + label.female{
	border-color: #f76bf0;
	color: #f76bf0;
}
.be-radio-icon input[type="radio"]:checked + label.other{
    border-color: #00c33f;
    color: #00c33f;
}