.iconpicker .iconpicker-item{
    color: #fff;
    background-color: #333;
}
.iconpicker-item:hover:not(.iconpicker-selected){
    background-color: #000!important;
}
.iconpicker-container .input-group-addon:last-child {
    color: #fff;
    background-color: #333;
}