.images-grid {
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: inherit;
    margin-bottom: 10px;
    white-space:nowrap;
}

.images-grid .image:hover {
    /*outline: 5px solid #4285f4; */
    cursor: pointer;
}
.images-grid .image:nth-child(1){
}

.images-grid .image{
    display: -webkit-inline-box;
    display: inline-block;
    border: 2px solid transparent;
    margin: 30px 10px;
    position: relative;
}
.images-grid .image img{
    max-width: 170px;
    min-width: 170px;
    max-height: 170px;
    border-radius: 15px
}
.images-grid .image .btn-left {
    left: 2px;
    padding-left: 4px;
}
.images-grid .image .btn-right {
    right: 2px;
    padding-left: 11px;
}

.images-grid .image .btn-left,
.images-grid .image .btn-right{
    color: #fff;
    position: absolute;
    background-color: #000;
    opacity: 0.8;
    transform: translateY(-50%);
    border-radius: 50%;
    top: 50%;
    width: 40px;
    height: 40px; 
    display: inline-block;
    font-size: 36px;
    line-height: 43px;
}

.images-grid .image .btn-left:hover,
.images-grid .image .btn-right:hover{
    background-color: #fff;
    color: #000;
}
.images-grid .image button{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.images-grid .image button {
    position: absolute;
    visibility: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    opacity: 0.9;
}
.images-grid .image:hover  button{
    visibility: visible;
    opacity: 0.9;
}
.image.oneline{
    width: 100%;
}
.image.oneline textarea{    
    position: absolute;
    top: 0px;
    left: 105px;
    width: 80%;
    height: 100%;
}