
.local-dropzone:hover{
  cursor: pointer;
}
.local-dropzone{
  position: relative;
  border: 2px dashed #c3c3c3;
  padding: 70px 60px 80px;
  background: transparent; 
  text-align: center;
}
.local-dropzone img{
  max-width: 100px;
  max-height: 100px;

  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.local-dropzone + input {
  opacity: 0;
}