.tab-content{
	position: relative;
	overflow-x: auto;
}

.tab-content .tab-content{
	overflow-x: inherit;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/ring-alt.gif) center no-repeat #fff;
}