.select-loading {
    position: absolute;
    top: 0px;
    right: -50px;
    width: 40px;
    height: 40px;
    background: url(../img/ring-alt.gif) no-repeat #fff;
    background-size: cover;
    display: none;
}