@media (min-width: 900px) { 
	.user-filter{
		display: flex;
		justify-content: space-around;
		width: auto;
		padding-top: 10px;
	}
  .user-filter label{
    margin-top: 10px;
    margin-right: 10px;
  }
	.user-filter select, .user-filter input{
		margin-left: 10px;
    text-align-last: center;
	}
	// .user-filter #filter-length{ max-width: 100px;min-width: 100px!important;}
	.user-filter #filter-status{ max-width: 100px;min-width: 100px;}
	.user-filter #filter-profile{ max-width: 135px;min-width: 135px;}
	.user-filter #filter-from{ max-width: 130px;min-width: 130px;}
	.user-filter #date-alta{ max-width: 200px;min-width: 200px;} 
  .user-filter #filter-birthday-from{ max-width:100px;  }
  .user-filter #filter-birthday-to{   max-width:100px; }
}

.user-wrapper{
  padding-left: 10px;
    display: flex;
    align-items: center;;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}
#excel-button{
  margin-left:10px;
  margin-bottom:10px;
}

.dataTables_wrapper{
  overflow: auto;
}